.App {
  text-align: center;
}

.title {
  font-size: 80px;
  color: #4C212A;
}

.header {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30%;
}
