#root {
  height: 100%;
}

.App {
  text-align: center;
  width: 30em;
}

.title {
  font-size: 80px;
  color: #4C212A;
}

.header {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30%;
  z-index: 0;
}

.fishPics {
  width: 350px;
  margin: 50px;
  z-index: 1;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.pictureScroll {
  width: 300%;
  overflow: scroll;
}

.homeScreen {
  background-color: #4C212A;
  height: 100vh;
  align-items: center;
  padding-top: 40%;
  padding-left: 15%;
}

.links {
  margin: 100px;
  color: white;
  font-size: 30px;

}

.homeTitle {
  font-size: 80px;
  color: white;
}
